table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead {
    background-color: #866c6c;
  }
  
  th {
    padding: 8px;
    text-align: left;
  }
  
  td {
    border: 1px solid #0a0a0a;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #866c6c;
  }